

.Cards__card {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: rgb(241, 47, 112) !important;
}

.pagination {
    width: fit-content;
    display: grid;
    place-items: center;
    margin: 10px;
}

.count {
 font-size: 20px;
 top: 110px;
 left: 43.5%;
 position: absolute;
}

.nothing {
    margin-top: 20px;
}

.loader {
    border: 16px solid white; 
    border-top: 16px solid rgb(241, 47, 112);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .noCourses {
      font-size: 40px;
      color: white;
      margin-top: 30px;

  }