.Cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: rgb(241, 47, 112) !important;
}

.pagination {
    width: fit-content;
    position:absolute;
    margin: auto;
    top: 100%;
    
}

.count {
   position: absolute;
   left: 525px;
   bottom: 535px;
 
}